[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-concretemixer
Exec=harbour-concretemixer
Name=ConcreteMixer
Name[de]=ConcreteMixer

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-concretemixer
#Permissions=UserDirs;
